---
layout: page
title: Kimbo's Tremendous Repository of Knowledge, Opinions, Notes, Inspirations, and Obsession.
permalink: /digital-garden
favicon:
---


<article id="digitalgarden">
	<div>
		<p>Below are lists with every notes in this digital-garden. Each of notes has a tag. All notes are sorted by written
			language and tag word.</p>
		<!-- Html Elements for Search -->
		<div class="searchbar search-container sans">
			<input autocomplete="off" id="search-input" oninput="changeResultContainerDisp(this.value)"
				placeholder="Search My Memorial Notes..." type="text" />
			<label for="search-input"></label>
			<ul id="results-container"></ul>
		</div>
	</div>
	<div>

		<!-- reference: https://github.com/brennanbrown/enjoyment-work -->
<!-- This one grabs all notes and posts -->
		<!-- {% for collection in site.collections %}
		{% if collection.label != "pages" and collection.label != "posts" %}

		<h2>Items from {{ collection.label }}</h2>
		<ul>
			{% for item in site[collection.label] %}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endfor %}
		<br /> -->


		<!-- Based on folder, it's sectionising the list of full set of folders -->
		<!-- {% assign folders = site.notes | where_exp:"item", "item.path contains '_notes'" %}
		{% assign notefolders = "" | split:"" %}
		
		{% for folder in folders %}
			{% assign tempvar = folder.path | split:"/" %}
			{% assign notefolders = notefolders | push:tempvar[1] %}
		{% endfor %}
		
		{% assign notefolders = notefolders | uniq | sort %}
		
		<div class="w-100 cf">
		{% for folder in notefolders %}
			{% unless folder contains 'md' or folder contains 'html' %}
				<div class="fl w-third-l w-100 mb1 mt1 pr4-l">
					<a class="link black" href="/notes/{{folder}}/"><div class="bg-near-white pa3">{{folder | capitalize}}</div></a>
				</div>
			{% endunless %}
		{% endfor %}
		</div> -->


		<!-- Based on notes, it's sectionising the list of full set of notes -->
		<!-- <h3>All notes</h3>
		
		{% assign folder1 = site.notes | where_exp: "item" , "item.path contains 'notes'" | sort:"path" %}
		{% for item in folder1 %}
		<a href="{{ item.url }}">{{item.path}}</a>
		<br>
		{% endfor %} -->

		<!-- This one sort by dates -->
		<!-- {% assign postsByDay =
			site.posts | group_by_exp:"post", "post.date | date: '%d-%B-%Y'" %}
	
			{% for day in postsByDay %}
				<h3 id="{{ day.name }}">{{ day.name }}</h3>
						{% for post in day.items %}
							<li id="date-content" style="padding-bottom: 0.6em; list-style: none;"><a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
			{% endfor %}
	
					<br/>
					<br/> -->
	

		<!-- This won't differentiate the multiple contents under the same tag-->
		<div class="block" style="margin-top: 1%;">
			<!-- <h2>Notes in English</h2> -->
			<h2>Notes</h2>
			{% assign tags =  site.notes | map: 'tags' |  uniq %}
			{% for tag in tags %}
			<p id="{{ tag }}" class="tagTitle">{{ tag | capitalize }}</p>
			{%- for note in site.notes -%}
			{%- if note.tags contains tag and note.language == 'English' -%}
			<a href="{{note.url}}">{{ note.title }}</a><br/>
			{%- endif -%}
			{%- endfor -%}
			{%- endfor -%}
		</div>

		<!-- <div class="block" style="margin-top: 1%;">
			<h2>Notes in Korean</h2>
			{% assign tags =  site.notes | map: 'tags' | join: ' '  | split: ' ' | uniq %}
			{% for tag in tags %}
			{%- for note in site.notes -%}
			{%- if note.tags contains tag and note.language == 'Korean' -%}
			<p id="{{ tag }}" class="tagTitle">{{ tag | capitalize }}</p>
			<a href="{{note.url}}">{{ note.title }}</a>
			{%- endif -%}
			{%- endfor -%}
			{%- endfor -%}
		</div> -->
	</div>
</article>


<p>Idea was inspired & referenced from <a href='https://tomcritchlow.com/wiki/'>Tom Critchlow's Digital
		Garden</a></p>


<!-- Script pointing to search-script.js -->
<script src="/assets/js/simple-jekyll-search.min.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
	SimpleJekyllSearch({
		searchInput: document.getElementById('search-input'),
		resultsContainer: document.getElementById('results-container'),
		json: '/search.json'
	})
</script>