<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include header.html %}
    <body>
        <nav>{% include nav.html %}</nav>
        <main>
            
            <div class="page-content">
                {% include searchbox.html %}
                <div class="post">
                    {{ content }}
                </div>
            </div>
        
        </main>
        <footer>{% include footer.html %}</footer>
        {% include link-previews.html wrapperQuerySelector="content" %}
    </body>
</html>