<nav>
  <ul>
    <li><a class="internal-link" href="/"><b>Home</b></a></li>
    <li><a class="internal-link" href="/about-me"><b>About Me</b></a></li>
    <li><a class="internal-link" href="/assets/files/GyuriKim_ui_dev_cv_IL.pdf">CV</a></li>
    <li><a class="internal-link" href="/showcase">Showcases</a></li>
    <li><a class="internal-link" href="/sideproject">Side project</a></li>
    <li><a class="internal-link" href="/gallery">My Arts</a></li>
    <li><a class="internal-link" href="/digital-garden">Digital Garden</a></li>
    <li><a class="internal-link" href="/journal">Journal</a></li>
    <li><a class="internal-link" href="https://brunch.co.kr/@kimba">블로그</a></li>
  </ul>
</nav>
      

