<div class="topbar">
  <div class="grid container">
    <div class="col">
      <ul>
        <li><a href="/"><b>Home</b></a></li>
        <li><a class="internal-link" href="/about"><b>About Me</b></a></li>
        <li><a class="internal-link" href="/gallery">Gallery</a></li>
        <li><a class="internal-link" href="/assets/files/GyuriKim_ui_dev_cv_IL.pdf">CV</a></li>
        <li><a class="internal-link" href="/prejects">Projects</a></li>
        <li><a class="internal-link" href="/sideproject">Side Gigs</a></li>
        <li><a class="internal-link" href="/wiki">Digital Garden</a></li>
        <li><a class="internal-link" href="/blog">Blog</a></li>
        <li><a class="internal-link" href="https://brunch.co.kr/@kimba">My Korean Blog</a></li>
      </ul>
    </div>
  </div>
</div>