<nav>
  <ul>
    <li><a class="internal-link" href="/"><b>Home</b></a></li>
    <li><a class="internal-link" href="/about"><b>About Me</b></a></li>
    <li><a class="internal-link" href="/gallery">My Arts</a></li>
    <li><a class="internal-link" href="/assets/files/GyuriKim_ui_dev_cv_IL.pdf">CV</a></li>
    <li><a class="internal-link" href="/prejects">Projects</a></li>
    <li><a class="internal-link" href="/sideproject">Hobbies</a></li>
    <li><a class="internal-link" href="/wiki">Digital Garden</a></li>
    <li><a class="internal-link" href="/blog">Blog-EN</a></li>
    <li><a class="internal-link" href="https://brunch.co.kr/@kimba">Blog-KR</a></li>
  </ul>
</nav>
      

