/* Global Styles */
body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 3vh 5vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 65em;
  background-color: $backgroundColor;
  font-feature-settings: 'calt', 'liga', 'onum', 'pnum';
  text-rendering: optimizeLegibility;

  @include large {
    font-size: 130%;
  }
  @include medium {
    font-size: 100%;
  }
  @include small {
    font-size: 90%;
  }
}

/* Layout */
// main {
//   display: grid;
//   grid-gap: 2em;
//   grid-template-columns: 3fr 1fr;
//   grid-template-areas: "article aside"
// }

// section {
//   grid-column: 1 / -1;
// }

.container {
  position: relative;

  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--unit-half);

  &.slim {
    max-width: 650px;
  }
}

.grid {
  display: flex;
  flex-flow: wrap;
}

.col {
  margin-right: var(--unit);

  @include small {
    margin-right: 0;
    flex: 0 0 100%;
  }

  flex: 0 0 calc(50% - var(--unit-half));

  &:nth-child(2) {
    margin-right: 0;
  }
}

/* Pages default*/
article {
  position: relative;
  overflow: auto;
  & > div {
    display: flex;
    flex-flow: row wrap;
  }
}


// Global elements
img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 4px
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: var(--callout-background);
  border-radius: 4px
}

blockquote p {
  margin: 0
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  /* background: #d9d9d9 */
}

strong, b {
  font-weight: 600;
  color: var(--heading-color);
}

/* default content block */
.block {
  max-width: calc(50% - var(--unit-half));
  margin-bottom: var(--unit-double);

  @include small {
    max-width: 100%;
    flex-shrink: 0;
  }

  flex: 1 1 100%;

  &.pull {
    margin-bottom: var(--unit);
  }

  &.mobile-pull {
    @include small {
      margin-bottom: var(--unit);
    }
  }

  &.center {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    flex-shrink: 0;

    @include small {
      text-align: left;
    }
  }

  &.full {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 0;
  }

  &.right {
    margin-left: auto;
  }

  &.vc {
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
  }

  p {
    padding-right: var(--unit-half);
    & + h3 {
      margin-top: var(--unit-double);
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}