/* Code blocks */
code {
  background: var(--callout-background);
  padding: 0 0.2em;
  border-radius: 4px;
  /* vertical-align: middle;
  font-size: 1.3em; */
}

pre code {
  padding: 0;
  background: transparent;
}

pre {
  background: var(--callout-background);
  padding: 0.5em 1em;
  border-radius: 4px;
  overflow-x: scroll
}

div.highlight {
  background: var(--callout-background);
  border-radius: 4px;
  font-size: 1em;
  font-size: 0.9em;
  overflow: scroll;
  margin: 1em 0;
  display: grid
}
