// Components
/* Page Intro*/
.intro {
  
}

/* Footer */
footer {
  margin: 2em 0;
  /* color: var(--text-color-faded); */
  padding-top: 1em
}

/* Archive Page */
ul.archive,
.archive li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0
}

.archive li {
  margin: 1em 0 1.25em
}

.archive p {
  margin-top: 0
}

.archive span {
  opacity: 0.6
}

.invalid-link {
  color: var(--text-color-faded);
  cursor: help;
  background: var(--callout-background);
  padding: 0 0.1em
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help
}

/* Footnotes */
.footnote-ref a,
a.footnote-backref {
  background-color: var(--primary-color);
  border-radius: 10em;
  padding: 0 .3em;
}

.footnote-ref a {
  font-feature-settings: "sups" 1;
  letter-spacing: 1px;
  height: 1em;
  display: table-caption;
}

.footnote-ref a::before {
  content: "["
}

.footnote-ref a::after {
  content: "]";
  top: inherit;
  color: inherit;
  font-size: inherit;
}

/* Article */
header,
.archive span {
  font-feature-settings: "ss01" 1, "zero" 1, "case" 1;
  font-variant-numeric: slashed-zero;
}

header p {
  color: var(--text-color-faded);
  font-size: 0.5rem;
  margin-top: 0;
  padding-bottom: 2em;
}


section.callout {
  padding: 3em 2em;
  background: var(--callout-background);
  border-radius: 4px;
  margin: 1em 0;
}

/* Backlink box */
aside {
  display: grid;
  grid-gap: 1em;
  align-content: start;
}

.backlink-box {
  background: var(--callout-background);
  padding: 1em;
  border-radius: 4px;
  font-size: 0.5rem;
}

/* notes */
main.notes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "article aside"
}

section.graphs {
  grid-column: 1 / -1;
}


/* Nav */
nav {
  margin-bottom: 2rem;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    li {
      flex-grow: 1;
      text-transform: uppercase;
    }
  }
}

/* Code blocks */
code {
  background: var(--callout-background);
  padding: 0 0.2em;
  border-radius: 4px;
  /* vertical-align: middle;
  font-size: 1.3em; */
}

pre code {
  padding: 0;
  background: transparent;
}

pre {
  background: var(--callout-background);
  padding: 0.5em 1em;
  border-radius: 4px;
  overflow-x: scroll
}

div.highlight {
  background: var(--callout-background);
  border-radius: 4px;
  font-size: 1em;
  font-size: 0.9em;
  overflow: scroll;
  margin: 1em 0;
  display: grid
}


/* Links */
a {
  transition: all 300ms;
  font-weight: 600;
  color: var(--heading-color);
  border-bottom: 4px solid var(--primary-color);
  text-decoration: none;
}

a:hover, a:focus {
  transition: all 300ms;
  background: var(--primary-color);
}

a::after {
  font-size: 0.7em;
  content: "";
  color: var(--text-color-faded);
  top: -0.5em;
  position: relative;
}

/* Need to exclude a img arrow for external links eventually */
a.external-link:after,
a.footnote-backref:after {
  content: "↗";
}

*:focus {
  background: var(--primary-color);
  color: black !important;
}


/* Tables in Markdown */
table {
  max-width: min-content;
}

table, table > * > * > * {
  border: 1px solid var(--text-color-faded);
  border-collapse: collapse;
  color: var(--heading-color);
}

table th, table td {
  padding: 0.25em 0.5em
}