@font-face {
  font-family: 'Wremena';
  src: url('../assets/fonts/Wremena/WremenaLight.woff') format('woff2');
  font-style: normal;
  font-weight: 100;
  font-variant-numeric: tabular-nums;
}

@font-face {
  font-family: 'Wremena';
  src: url('../assets/fonts/Wremena/WremenaRegular.woff') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-variant-numeric: tabular-nums;
}

@font-face {
  font-family: 'Wremena';
  src: url('../assets/fonts/Wremena/WremenaBold.woff') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}

::selection {
  color: white;
  background: var(--color-sea-blue);
}

::-moz-selection {
  color: white;
  background: var(--color-sea-blue);
}

/* Hyphenate long headings and links */
h1,h2,h3,h4,h5,h6,a {
  font-family: var(--heading-font);
  color: var(--text-color-blue);
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

h1:first-of-type {
  font-size: 200%;
  line-height: 1;
}

h2+h3 {
  margin-top: 0.25em;
}

h1+p, h2+p, h3+p {
  margin-top: 0.25em;
}

h3 {
  font-size: 1.6rem;
  font-weight: var(--bold);
  line-height: 1.37;

  margin: 0.6rem 0 0;

  letter-spacing: -0.02em;

  @include small {
    font-size: 1.2em;
  }
}