/* Global Styles */
body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;
  background-color: $backgroundColor;
  font-feature-settings: 'calt', 'liga', 'onum', 'pnum';
  text-rendering: optimizeLegibility;

  // @media (min-width: 820px) {
  //   font-size: 1.2rem;
  // }

  @include large {
    font-size: 130%;
  }
  @include medium {
    font-size: 100%;
  }
  @include small {
    font-size: 90%;
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

/* Base Layout */
.grid {
  display: flex;
  flex-flow: wrap;
}

.col {
  margin-right: var(--unit);

  @include small {
    margin-right: 0;

    flex: 0 0 100%;
  }

  flex: 0 0 calc(50% - var(--unit-half));

  &:nth-child(2) {
    margin-right: 0;
  }
}

.container {
  position: relative;

  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--unit-half);

  &.slim {
    max-width: 650px;
  }
}


article {
  display: grid;
}

main section {
  grid-column: 1 / -1;
}

@media (max-width: 1200px) {
  content, side, article, aside {
    grid-column: 1 / -1;
    max-width: calc(100vw - 12vw)
  }
}

