

/* Global Styles */
:root {
  --heading-color: rgb(29, 31, 32);
  --text-color: rgba(29, 31, 32, .85);
  --text-color-faded: rgb(29, 31, 32, 0.5);
  --primary-color: rgb(156, 213, 56);
  --background-color: rgba(156, 213, 56, .15);
  --callout-background: rgba(156, 213, 56, .08);
  --primary-font: "Inter Variable", "Inter", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --heading-font: "Wremena", "Times", "Times New Roman", serif;
  /* Set headings to large size by increasing :root em font size */
  /* Calc with vw makes font sizes intrinsically responsive */
  // font-size: calc(1.75em + 0.5vw);
  line-height: 1.7;
  letter-spacing: -0.015em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$backgroundColor: rgba(156, 213, 56, .15);
$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$primary-color: rgb(156, 213, 56);
$color-box-background: rgba(156, 213, 56, .08);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$heading-font: "Wremena", "Times", "Times New Roman", serif;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;
  background-color: $backgroundColor;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em
}

#notes-entry-container, main {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "article aside"
}

article {
  display: grid;
}

main section {
  grid-column: 1 / -1;
}

@media (max-width: 1200px) {
  content, side, article, aside {
    grid-column: 1 / -1;
    max-width: calc(100vw - 12vw)
  }
}