/*
 * Variables
 * =========
 *
 */

 :root {
  --heading-color: rgb(29, 31, 32);
  --text-color: rgba(29, 31, 32, .85);
  --text-color-faded: rgb(29, 31, 32, 0.5);
  --primary-color: rgb(156, 213, 56);
  --background-color: rgba(156, 213, 56, .15);
  --callout-background: rgba(156, 213, 56, .08);
  --primary-font: "Inter Variable", "Inter", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --heading-font: "Wremena", "Times", "Times New Roman", serif;
  /* Set headings to large size by increasing :root em font size */
  /* Calc with vw makes font sizes intrinsically responsive */
  // font-size: calc(1.75em + 0.5vw);
  line-height: 1.7;
  letter-spacing: -0.015em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --unit: 3rem;
  --unit-half: calc(var(--unit) / 2);
  --unit-quarter: calc(var(--unit) / 4);
  --unit-double: calc(var(--unit) * 2);
  --content-width: 1140px;
}

$backgroundColor: rgba(156, 213, 56, .15);
$color-text: hsl(0, 0%, 20%);
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

// For breakpoint mixins.
$small-width: 600px;
$medium-width: 1024px;
$large-width: 1140px;
$unit-half: 1.5rem;


/*
 * Mixins
 * ======
 *
 */

 @mixin small {
  @media (max-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}

@mixin medium-only {
  @media (max-width: #{$medium-width}) and (min-width: #{$small-width}) {
    @content;
  }
}

@mixin large {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

/*
 * Keyframes
 * =========
 *
 */

 @keyframes fadeup {
  0% {
    transform: translateY(15px);

    opacity: 0;
  }
  100% {
    transform: translateY(0);

    opacity: 1;
  }
}

@keyframes bg {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.95);
  }
}

@keyframes shrink {
  0% {
    min-height: 100vh;
  }
  100% {
    min-height: 90vh;
  }
}
