<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <!-- GTM Body -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP3NQP5" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  {% include nav.html %}
  <div class="wrapper">
    {%- if page.content-type == "notes" -%}
    <main class="notes">{{ content }}</main>
    {%- else -%}
    <main class="container">{{ content }}</main>
    {%- endif -%}
    <footer>{% include footer.html %}</footer>
  </div>
  {% include link-previews.html wrapperQuerySelector="content" %}
</body>

</html>